.page-header
  = link_to locations_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to edit_location_path(@location), :class => 'btn btn-primary' do
    %i.icon-pencil.icon-white
    Edit
  %h1 Listing locations

%dl
  %dt Name:
  %dd= @location.name
  %dt Address:
  %dd= @location.address
  %dt Website:
  %dd= @location.website
  %dt More:
  %dd= @location.more
  %dt Latitude:
  %dd= @location.latitude
  %dt Longitude:
  %dd= @location.longitude
